<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bosssoft.hr.train.dao.DdTypeMapper">
    <select id="selectById" resultType="com.bosssoft.hr.train.bean.DdType">
        SELECT dd_type_id, dd_type_name, dd_type_note
        FROM dd_type
        WHERE dd_type_id = #{id}
    </select>




</mapper>   