<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.bes.system.manage.mapper.CompanyRoleMapper">
  <resultMap id="BaseResultMap" type="com.boss.bes.system.manage.pojo.entity.CompanyRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="company_id" jdbcType="BIGINT" property="companyId" />
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
</mapper>