<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.bes.system.manage.mapper.OrganizationMapper">
    <resultMap id="BaseResultMap" type="com.boss.bes.system.manage.pojo.entity.Organization">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="master" jdbcType="VARCHAR" property="master"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>

    <select id="getOrgName" resultType="string">
        SELECT name organizationName
        FROM tb_organization
        WHERE id = #{id}
    </select>

    <!--批量删除-->
    <delete id="multiDelete">
        <foreach collection="orgs" item="org" separator=";">
            DELETE FROM tb_organization
            WHERE id=#{org.id} AND version=#{org.version}
        </foreach>
    </delete>

</mapper>