<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.bes.system.manage.mapper.UserOnlineInfoMapper">
  <resultMap id="BaseResultMap" type="com.boss.bes.system.manage.pojo.entity.UserOnlineInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="online_time" jdbcType="TIMESTAMP" property="onlineTime" />
    <result column="offline_time" jdbcType="TIMESTAMP" property="offlineTime" />
    <result column="stop_time" jdbcType="INTEGER" property="stopTime" />
    <result column="status" jdbcType="BIT" property="status" />
  </resultMap>

  <select id="getByPrimaryKey" resultType="com.boss.bes.system.manage.pojo.entity.UserOnlineInfo">
        SELECT *
        FROM tb_user_online_info
        WHERE id = #{id}
        order by status
    </select>

  <select id="getAll"  resultType="com.boss.bes.system.manage.pojo.entity.UserOnlineInfo">
        SELECT *
        FROM tb_user_online_info
        order by status
    </select>


  <select id="getUserOnlineInfoByCondition" parameterType="com.boss.bes.system.manage.pojo.entity.UserOnlineInfo" resultMap="BaseResultMap">
    SELECT *
    FROM tb_user_online_info
    <where>
      <if test="code != null and code != ''">
        code =#{code}
      </if>
      <if test="name != null and name != ''">
        or name like "%"#{name}"%"
      </if>
      <if test="onlineTime!= null">
        or online_time &gt;= #{onlineTime}
      </if>
      <if test="offlineTime!= null">
        or online_time &lt;= #{offlineTime}
      </if>
    </where>
    order by status
  </select>

  <update id="updateToLogout" parameterType="java.util.List">
    update tb_user_online_info set status=1,offline_time=CURRENT_TIMESTAMP,
    stop_time =(hour(timediff(NOW(),online_time))) where
    id in
    <foreach collection="list" item="item" separator="," open="("  close =")">
      #{item.id}
    </foreach>
    and status=0
  </update>

  <delete id="deleteUserById" parameterType="java.lang.Long">
		delete from tb_user_online_info where
		id=#{id}
   </delete>



</mapper>