<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.dao.EmployeeMapper">
    <!--namespace:名称空间 指定为接口的全类名
        id:唯一标识
        resultType:返回值类型
        #{id}: 从传递过来的参数中，取出id值
    -->

    <select id="getEmpById" resultType="com.atguigu.mybatis.bean.Employee">
        select id,last_name lastName,email,gender from tbl_employee where id = #{id}
    </select>

    <!-- List<Employee> getEmps();-->
    <select id="getEmps" resultType="com.atguigu.mybatis.bean.Employee">
        select id,last_name lastName,email,gender from tbl_employee
    </select>

    <!--Long addEmp(Employee employee);-->
    <!--parameterType:可以省略

    获取自增主键
    mysql支持自增主键，自增主键的值的获取，mybatis也是利用statement.getGeneratedKeys()
    useGeneratedKeys="true"; 使用自增主键获取主键值策略
    keyProperty: 指定对应的主键属性，也就是mybatis获取到主键值以后,将这个值封装给javaBean的哪个属性
-->
    <insert id="addEmp" parameterType="com.atguigu.mybatis.bean.Employee"  useGeneratedKeys="true" keyProperty="id">
        insert into tbl_employee(last_name, gender, email) VALUES(#{lastName},#{gender},#{email})
    </insert>



    <!--void getPageByProcedure(Page page);
        使用select标签调用存储过程
        statementType="CALLABLE" :表示要调用存储过程
    -->
    <resultMap id="PageEmp" type="com.atguigu.mybatis.bean.Employee">
        <id column="id" property="id"></id>
        <result column="last_name" property="lastName"></result>
        <result column="email" property="email"></result>
        <result column="gender" property="gender"></result>
    </resultMap>

    <select id="getPageByProcedure" statementType="CALLABLE">
        {call hello_test(
            #{start,mode=IN,jdbcType=INTEGER},
            #{end,mode=IN,jdbcType=INTEGER},
            #{count,mode=OUT,jdbcType=INTEGER},
            #{emps,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=PageEmp}
            )}
    </select>
</mapper>